:root, .default {
  --text: #222;
  --first: #ee8d11;
  --second: #ffdcaf;
  --third: #fff8ef;
  --gradient: #0095d5;
  --texture: url("https://www.transparenttextures.com/patterns/crossword.png");
}

.blue_palette {
  --text: #222;
  --first: #1772b9;
  --second: #4db5e2;
  --third: #99d4ee;
  --gradient: #ee8d11;
}

.dark_palette {
  --text: #fefefb;
  --first: #b1b1b1;
  --second: #222;
  --third: #444546;
  --gradient: #e5a7f3;
}

* {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--third);
  touch-action: manipulation;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text);
  min-height: 100vh;
}

li {
  list-style: none;
}

ol li {
  list-style-type: revert;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit;
}

a button {
  border: none;
  background-color: transparent;
}

u {
  color: var(--gradient);
}

b {
  color: var(--first);
}

p {
  margin-top: revert;
  margin-bottom: revert;
  font-size: 1.1rem;
}

.navbar-logo {
  /*min-height: 100px;*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third);
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
  padding: 0.8rem 0rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  z-index: 2;
}

.logo {
  width: 19rem;
  margin-right: -36px;
}

.logo img {
  height: auto;
  width: 85%;
}

.button-nav {
  cursor: pointer;
  transition: 0.5s;
  width: 3.5rem;
  filter: drop-shadow(#111 -2px 2px 2px);
}

.sidebar {
  display: none;
  margin-top: 80px;
  width: 100%;
  position: fixed;
  right: 0;
  z-index: 1;
  flex-wrap: wrap;
  background-color: var(--third);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sidebar-navigation {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.sidebar-log-contact {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  padding-left: 0;
}

.sidebar-log-contact li {
  margin-top: 1.5rem;
}

.sidebar li {
  flex: 1 1 100%;
  text-align: right;
  font-size: 1.1rem;
  margin-bottom: 1px;
}

.sidebar a {
  display: block;
  width: 100%;
  padding: 0.8rem 1rem;
}

.sidebar a:hover {
  box-shadow: inset -4px 0 0 0 var(--text);
  background-color: var(--second);
}

.sidebar span {
  font-weight: 500;
  margin-right: 0.5rem;
}

.language {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

.language a {
  text-align: center;
}

.language a:hover {
  text-decoration: underline;
  box-shadow: none;
}

#social-buttons {
  display: flex;
}

#social-buttons a {
  text-align: center;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-buttons a:hover {
  box-shadow: none;
}

#disabled {
  opacity: 0.3;
}

.social-container {
  margin: 0 2rem;
}

.colabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.colabs-container {
  max-width: 600px;
  margin: 0 2rem;
}

.colabs img {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.descripcion-porcentaje p {
  font-size: 0.8rem;
  font-weight: 200;
  margin-left: 2rem;
}

.facebook {
  background-color: #3b5998;
}

.instagram {
  background-image: linear-gradient(45deg, #FFDC80, #FCAF45, #F77737, #F56040, #FD1D1D, #E1306C, #C13584, #833AB4, #5B51D8, #405DE6);
}

.content {
  flex-grow: 2;
  margin-top: 80px;
}

.intro h1 {
  margin-top: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  margin-bottom: 2rem;
}

.period {
  color: var(--first);
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.75;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 2rem;
  border-radius: 8px;
}

.form-input {
  width: 80%;
  border: none;
  border-bottom: 2px solid var(--first);
  margin: 1.5rem 0;
  border-radius: 0px;
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid var(--gradient);
}

.form-input input {
  flex-grow: 2;
  border: none;
}

input[type=password] {
  font-family: Verdana;
}

input[type=password]::placeholder {
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: initial;
}

.toggle-password {
  margin-left: -21px;
}

.button-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: none;
  margin-bottom: 2rem;
  background-color: var(--first);
  color: #fff;
  padding: 0.5rem 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.register {
  color: var(--first);
  background-color: #fff;
  font-weight: bold;
}

.button:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23);
  background-color: var(--third);
}

.gradient-bkgd {
  background-image: linear-gradient(180deg, var(--second), var(--gradient));
}

.none-bkgd {
  background-image: none;
}

.show {
  display: flex;
}

.center-text {
  text-align: center;
}

/* PROFILE STYLES */
.palette-container {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.palette {
  border: 1px solid #000;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  height: 60px;
}

.color-palette {
  flex-grow: 1;
  border: 1px solid #000;
}

label {
  margin-bottom: 0;
}

.label-palette {
  margin-bottom: 0.4rem;
}

.btn-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.text1 {
  background: #222;
}

.first1 {
  background: #ee8d11;
}

.second1 {
  background: #ffdcaf;
}

.third1 {
  background: #fff8ef;
}

.text2 {
  background: #222;
}

.first2 {
  background: #1772b9;
}

.second2 {
  background: #4db5e2;
}

.third2 {
  background: #99d4ee;
}

.text3 {
  background: #fefefb;
}

.first3 {
  background: #b1b1b1;
}

.second3 {
  background: #444546;
}

.third3 {
  background: #222;
}

.buttons_settings_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-image {
  width: 100%;
  height: auto;
}

.first-body {
  margin: 0 1rem;
  margin-top: -2.7rem;
  position: relative;
  background-color: var(--third);
}

.first-body p {
  line-height: 26px;
  font-size: 1.13rem;
}

.head-photo {
  text-align: center;
  padding: 20px 20px 0px;
}

.line-span {
  width: 0;
  height: 4px;
  background: var(--first);
  animation: line 4s infinite alternate;
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.paragraph0 {
  text-align: center;
}

.simple-line {
  width: 4rem;
  height: 4px;
  background: var(--first);
}

.header-middlebody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.fix-size-container {
  max-width: 335px;
  margin: 0rem 2.5rem 1rem 2.5rem;
  transition: color 0.3s ease 0s;
}

.fix-size-container:hover, .fix-size-container:active {
  color: var(--first);
}

.body-middlebody img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease 0s;
}

.body-middlebody img:hover, .body-middlebody img:active {
  transform: scale(1.15);
}

.img-wrapper {
  max-width: 335px;
  max-height: 376px;
  overflow: hidden;
}

.body-middlebody {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.body-middlebody p {
  margin: 0;
}

.body-middlebody h4 {
  margin-top: 0.5rem;
}

.island img {
  width: 100%;
  height: auto;
  margin-bottom: -1px;
}

.second-body {
  background-image: linear-gradient(180deg, #1772b9, #043d68);
  color: white;
}

.container-blue-containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2rem;
  position: relative;
  overflow: hidden;
}

.blue-containers {
  margin: 0 2rem 2rem 2rem;
  max-width: 600px;
}

.valores-container {
  width: 100%;
  min-height: 150px;
}

.valores {
  margin: 0.5rem;
}

.bubbles {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.bubble {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(45deg, #63aeff, transparent);
  border-radius: 50%;
  animation: flying 20s infinite ease-in;
  filter: drop-shadow(#111 -2px 2px 2px);
  opacity: 0;
}

.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 16s;
}

.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 10s;
  animation-delay: 1s;
}

.bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 20s;
  animation-delay: 2s;
}

.bubble:nth-child(4) {
  width: 25px;
  height: 25px;
  left: 50%;
  animation-duration: 14s;
  animation-delay: 0.5s;
}

.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 12s;
  animation-delay: 1.5s;
}

.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 16s;
  animation-delay: 3s;
}

.bubble:nth-child(7) {
  width: 25px;
  height: 25px;
  left: 75%;
  animation-duration: 8s;
  animation-delay: 2.5s;
}

.bubble:nth-child(8) {
  width: 30px;
  height: 30px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 1.25s;
}

.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 9s;
  animation-delay: 0.25s;
}

.bubble:nth-child(10) {
  width: 50px;
  height: 50px;
  left: 85%;
  animation-duration: 5s;
  animation-delay: 3s;
}

@keyframes flying {
  0% {
    bottom: -100px;
    transform: translateX(0);
    opacity: 0.4;
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(-50px);
  }
  75% {
    transform: translateX(50px);
    opacity: 0.4;
  }
  100% {
    bottom: 800px;
    transform: translateX(-100px);
  }
}
@-moz-keyframes flying {
  0% {
    bottom: -100px;
    transform: translateX(0);
    opacity: 0.4;
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(-50px);
  }
  75% {
    transform: translateX(50px);
    opacity: 0.4;
  }
  100% {
    bottom: 800px;
    transform: translateX(-100px);
  }
}
@-webkit-keyframes flying {
  0% {
    bottom: -100px;
    transform: translateX(0);
    opacity: 0.4;
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(-50px);
  }
  75% {
    transform: translateX(50px);
    opacity: 0.4;
  }
  100% {
    bottom: 800px;
    transform: translateX(-100px);
  }
}
.head-footer {
  display: flex;
  justify-content: center;
  background-color: var(--first);
}

.head-footer a {
  margin: 0.6rem 1rem;
}

.body-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.body-footer ul {
  margin: 0;
  padding: 0;
}

.body-footer p {
  margin-bottom: 0;
}

.body-footer b {
  color: revert;
}

.child-body-footer {
  margin: 0 1rem;
}

.child-body-footer a:active {
  text-decoration: underline;
  color: var(--gradient);
}

.footer-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
}

.footer-footer span {
  margin: 0.2rem;
}

@media screen and (min-width: 688px) {
  .intro-image {
    max-height: 326px;
    object-fit: cover;
    object-position: 0 80%;
  }
}
@media screen and (min-width: 1024px) {
  .intro-image {
    max-height: 621px;
    object-fit: cover;
    object-position: 0 95%;
  }

  .first-body {
    margin: -10.7rem 20% 0 20%;
    padding: 0 5rem;
  }

  .first-body p {
    line-height: 30px;
    font-size: 1.3rem;
  }

  .fix-size-container {
    margin: 0rem 1rem 1rem 1rem;
  }
}
@-moz-document url-prefix() {
  .second-body {
    background: #1772b9;
  }
}
/*@media screen and (min-width: 1180px) {

    .logo img {
        filter: drop-shadow(#666666 -2px 2px 2px)
    }

    .content {
        margin-top: 175px;
    }

    .content-desktop {
        margin: 0;
        display: block;
        position: relative;
        top: 86.5vh;

    }

    .logo {
        width: 30%;
        margin-left: 2rem;
    }

    .desktop-nav {
        display: none;
    }

    .form-desktop {
        margin-right: 25%;
        margin-left : 25%;
    }

    .button {
        width: 40%;
    }

    video {
        width: 100%;
        z-index: -1;
        position: fixed;
        top: 70px;
    }

    .slider {
        box-shadow: -2px -1px 19px 11px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
        margin-bottom: 500px;
        background-color: var(--third);

    }

    #intro-title {
        margin: 0;
        background-color: var(--first);

        text-align: center;
        height: 13.5vh;
        font-size: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .period {
        color: var(--text);
    }

    .padding-text {
        padding: 2rem 10rem;
    }

    footer {
        display: none;
    }

    .footer {
        margin: 0;
    }

    .colabs-footer img {
        width: 143px;
    }

    button {
        font-weight: normal!important;
    }

    .desktop-nav {
        display: flex;
        flex-grow: 2;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }

    .desktop-nav span {
        margin-right: 0.5rem;
        font-size: 1.3rem;
    }

    .desktop-nav a {
        display: flex;
        transition: font-weight 0.3s, letter-spacing 0.3s, color 0.6s;
    }

    .desktop-nav a:hover {
        font-weight: 500;
        letter-spacing: 0.1rem;
        color: var(--first);
    }

}*/

/*# sourceMappingURL=styles.css.map */
