$default_palette: (
    "text1": #222, 
    "first1": #ee8d11, 
    "second1": #ffdcaf, 
    "third1": #fff0dd,
);

$blue_palette: (
    "text2": #222, 
    "first2": #1772b9, 
    "second2": #4db5e2, 
    "third2": #99d4ee,
);

$dark_palette: (
    "text3": #fefefb, 
    "first3": #b1b1b1, 
    "second3": #444546, 
    "third3": #222,
);

:root, .default{
    --text: #222;
    --first: #ee8d11;
    --second: #ffdcaf;
    --third: #fff0dd;
    --gradient: #0095d5;
}

.blue_palette {
    --text: #222;
    --first: #1772b9; 
    --second: #4db5e2; 
    --third: #99d4ee;
    --gradient: #ee8d11;
}

.dark_palette {
    --text: #fefefb;
    --first: #b1b1b1; 
    --second: #222;
    --third: #444546;
    --gradient: #e5a7f3;
}

* {
    font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    line-height: 1.75;
    user-select: none;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--third);
    touch-action: manipulation;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text);
    min-height: 100vh;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

a button {
    border: none;
    background-color: transparent;
}

u {
    color: var(--gradient);
}

b {
    color: var(--first);
}

.navbar-logo {
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--third);
    padding: 0.8rem 0rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    z-index: 2;
}

.logo {
    width: 80%;
}

.logo img {
    height: auto;
    width: 100%;
}

.button-nav {
    cursor: pointer;
    transition: 0.5s;
    margin-right: 0.45rem;
}

.sidebar {
    display: none;
    margin-top: 100px;
    width: 80%;
    position: fixed;
    right: 0;
    z-index: 1;
    flex-wrap: wrap;
    background-color: var(--third);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sidebar-navigation {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.sidebar-log-contact {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    padding-left: 0;
}

.sidebar-log-contact li {
    margin-top: 1.5rem;
}

.sidebar li {
    flex: 1 1 100%;
    text-align: right;
    font-size: 1.1rem;
    margin-bottom: 1px;
    background-color: var(--third);
}

.sidebar a {
    display: block;
    width: 100%;
    padding: 0.8rem 1rem;
}

.sidebar a:hover {
    box-shadow: inset -4px 0 0 0 var(--text);
    background-color: var(--second);
}



.sidebar span {
    font-weight: 500;
    margin-right: 0.5rem;
}

.language {
    display: flex;
    width:100%;
    margin-bottom: 0.5rem;
}

.language a {
    text-align: center;
}

.language a:hover {
    text-decoration: underline;
    box-shadow: none;
}

#social-buttons {
    display: flex;
}

#social-buttons a {
    text-align: center;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#social-buttons a:hover {
    box-shadow: none;
}

.colabs img {
    margin-bottom: 2rem;
}

.colabs h3 {
    text-decoration: underline;
}

.descripcion-porcentaje {
    font-size: 0.8rem;
    font-weight: 200;
    margin-top: 3rem;
}


.facebook {
    background-color: #3b5998;
}

.instagram {
    background-image: linear-gradient(45deg, #FFDC80, #FCAF45, #F77737, #F56040, #FD1D1D, #E1306C, #C13584, #833AB4, #5B51D8, #405DE6);
}

.content {
    margin: 1.75rem;
    flex-grow: 2;
    margin-top: 100px;
}

.intro h1 {
    margin-top: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.25rem;
    margin-bottom: 2rem;
}

.period {
    color: var(--first);
}

footer {
    background-image: linear-gradient(0deg, var(--first), var(--third));
}

.colabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.colabs img {
    margin: 1rem;
}

h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.75;
}

.content img {
    width: 100%;
    border-radius: 4px;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 2rem;
    border-radius: 8px;
}


.form-input{
    width: 80%;
    border: none;
    border-bottom: 2px solid var(--first);
    margin: 1.5rem 0;
    border-radius: 0px;
}

.form-input:focus {
    outline: none;
    border-bottom: 2px solid var(--gradient);
}

.form-input input {
    flex-grow: 2;
    border: none;
}

input[type="password"] {
    font-family: Verdana;
  }

input[type="password"]::placeholder {
    font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    letter-spacing: initial;
}

.toggle-password {
    margin-left: -21px;
}


.button-login-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    border: none;
    margin-bottom: 2rem;
    background-color: var(--first);
    color: #fff;
    padding: 0.5rem 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
}

.register {
    color: var(--first);
    background-color: #fff;
    font-weight: bold;
}

.button:active {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.16), 0 1px 1px rgba(0,0,0,0.23);
    background-color: var(--third);
}

.gradient-bkgd {
    background-image: linear-gradient(180deg,var(--second),var(--gradient))
}

.none-bkgd {
    background-image: none;
}

.show {
    display: flex;
}

.center-text {
    text-align: center;
}

/* PROFILE STYLES */
.palette-container {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.palette {
    border: 1px solid #000;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    height: 60px;
}

.color-palette {
    flex-grow: 1;
    border: 1px solid #000;
}

label {
    margin-bottom: 0;
}

.label-palette {
    margin-bottom: 0.4rem;
}

.btn-block {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 40px;
}

@each $name, $color in $default_palette {
    // selector based on href name
    .#{$name} {
      background: $color;
    }
}

@each $name, $color in $blue_palette {
    // selector based on href name
    .#{$name} {
      background: $color;
    }
}

@each $name, $color in $dark_palette {
    // selector based on href name
    .#{$name} {
      background: $color;
    }
}

.buttons_settings_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width: 480px) {

    .content {
        margin-top: 175px;
    }

    .content-desktop {
        margin: 0;
        display: block;
        position: relative;
        top: 86.5vh;
        
    }

    .logo {
        width: 30%;
        margin-left: 2rem;
    }

    .navbar-logo {
        width: 100%;
    }

    .desktop-nav {
        display: none;
    }

    .form-desktop {
        margin-right: 25%;
        margin-left : 25%;
    }

    .button {
        width: 40%;
    }

    video {
        width: 100%;
        z-index: -1;
        position: fixed;
        top: 70px;
    }

    .slider {
        box-shadow: -2px -1px 19px 11px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
        margin-bottom: 500px;
        background-color: var(--third);
    }

    #intro-title {
        margin: 0;
        background-color: var(--first);
        text-align: center;
        height: 13.5vh;
        font-size: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .period {
        color: var(--text);
    }

    .padding-text {
        padding: 2rem 10rem;
    }

    footer {
        display: none;
    }

    .footer {
        margin: 0;
    }

    .colabs img {
        width: 143px;
    }
}

@media screen and (min-width: 1160px) {

    .desktop-nav {
        display: flex;
        flex-grow: 2;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }

    .desktop-nav span {
        margin-right: 0.5rem;
        font-size: 1.3rem;
    }

    .desktop-nav a {
        display: flex;
        transition: font-weight 0.3s, letter-spacing 0.3s, color 0.6s;
    }

    .desktop-nav a:hover {
        font-weight: 500;
        letter-spacing: 0.1rem;
        color: var(--gradient);
    }
    
}