{% extends "layout.html" %}

{% block title %}
Inicio
{% endblock %}


{% block video %}
<video autoplay muted loop>
    <source src="/static/images/eskerrik.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
{% endblock %}

{% block classcontent%}
content-desktop
{% endblock %}

{% block main %}
<article class="intro slider">
    <h1 id="intro-title" class="slider">C🅰️LAT3🦠3<span class="period"></span></h1>
    <div class="padding-text">
        <p>German Cedano, Calat33 comenzó su afición por el dibujo desde niño gracias a que su
    madre
    era dibujante textil.
    Luego en la adolescencia estudió Dibujo y Escultura en el Museo de Arte de Lima para luego
    trabajar en la revista cultural Urbania encargándose de la realización del cómic llamado Nick.<br><br>
    Posteriormente viajó a Europa y ejerció el trabajo de artista callejero incursionando el mimo y la estatua humana
    hasta
    que en 2016 impulsado por
    la necesidad económica bajó a la arena de la playa de la Concha a experimentar con dibujos en grandes
    dimensiones.<br><br>
    Desde ese momento se dedica al Sand Art de manera profesional, perfeccionando su técnica de dibujo
    en la arena con rastrillos de jardinería, y eventualmente convirtiéndose en su principal fuente de
    inspiración y expresión.<br><br>
    Utiliza las palabras para expresar sus emociones y dejar un bonito recuerdo a los visitantes de la bahía.</p>
    </div>
    <!--img src="static/images/calat_inicio.png" alt="Calat33 en la playa de la Concha." /-->
</article>

<article class="slider" id="social">
    <h1 id="intro-title">Social - Medio Ambiente<span class="period"></span></h1>
    <div class="padding-text">
        <p>Por cada producto, trabajo y taller realizados desde Calart destinamos un 4% a instituciones
        sociales y medioambientales. De esta manera queremos incidir activamente en el respaldo y promoción de
        proyectos sostenibles y con un impacto medioambiental directo. <u>¿Quieres llevar a cabo un proyecto medioambiental?</u><br>
        <b>¡Contáctanos y mándanos tu proyecto!</b> Si lo puedes soñar, puede volverse realidad.<br><br>
        Al mismo tiempo las empresas privadas para las que realizamos trabajos pasan por un filtro
        muy estricto sobre el los valores que poseen respecto al impacto sobre el medioambiente.</p>
        <h2>Talleres Sand Art</h2>
        <ul>
            <li><b>Duración:</b> 3 horas</li>
            <li><b>Horario: 9:00-12:00 </b>ver en el calendario las fechas disponibles cada mes (depende de las mareas).
            </li>
            <li><b>Número de participantes: </b>entre 5 y 20</li>
            <li><b>Material: </b>incluido.</li>
            <li><b>Precio: </b>gratuito (teniendo en cuenta que lo presentamos a subvenciones y las conceden), SINO VER
                ABAJO EL PRESUPUESTO: 33€ por niño</li>
            <li><b>Edad: </b>de 5 años hasta 10. También se realizan talleres para niños mayores, adolescentes o
                adultos,
                siempre que se cree un grupo de más de 6. </li>
            <li><b>Objetivo:</b><br>
                <ul type="line">
                    <li>Sensibilizar a los niños y niñas sobre el cuidado del medioambiente y especialmente de los
                        mares.
                    <li>Incentivar y ejercitar su agudeza creativa.</li>
                    <li>Fomentar el trabajo en equipo.</li>
                </ul>
            </li>
            <li><b>¿Quieres regalar un taller Sand Art? </b>Ponte en contacto en nuestra web</li>
        </ul>
        <h3>Descripción detallada del proyecto.</h3>
        <p>PRESUPUESTO<br>Material - Coste:</p>
        <ul>
            <li>20 rastrillos: 250 €</li>
            <li>1 profesor: 50 €/h =150 €</li>
            <li>2 monitores: 30 €/h = 180 €</li>
            <li>Movilidad:
                <ul type="line">
                    <li>Transporte de niños: 1,85 € x 2 viajes x 20 niños: 74 €.</li>
                    <li>Transporte del equipo: 1,85 € x 2 viajes x 3 adultos: 11,10 €.</li>
                </ul>
            </li>
        </ul>
        <p>TOTAL: 665,10 €<br>CADA NIÑO: 33,25 €</p>
    </div>
</article>

<div class="footer slider">
    <div class="colabs">
        <img src="static/images/footer/Anadolu.png" width="65" alt="">
        <img src="static/images/footer/Crayons-Copains.png" width="65" alt="">
        <img src="static/images/footer/Franks-chop.png" width="65" alt="">
        <img src="static/images/footer/mary-ward-logo1.gif" width="65" alt="">
        <img src="static/images/footer/sicos2.png" width="65" alt="">
        <img src="static/images/footer/sisters.png" width="65" alt="">
    </div>
</div>
{% endblock %}
