{% extends "layout.html" %}

{% block title %}
Inicio
{% endblock %}

{% block main %}
<article class="intro">
  <h1>CALAT33<span class="period">.</span></h1>
  <p>German Cedano, Calat33 comenzó su afición por el dibujo desde niño gracias a que su madre era dibujante textil.
  Luego en la adolescencia estudió Dibujo y Escultura en el Museo de Arte de Lima para luego
  trabajar en la revista cultural Urbania encargándose de la realización del cómic llamado Nick.<br><br>
  Posteriormente viajó a Europa y ejerció el trabajo de artista callejero incursionando el mimo y la estatua humana hasta
  que en 2016 impulsado por
  la necesidad económica bajó a la arena de la playa de la Concha a experimentar con dibujos en grandes dimensiones.<br><br>
  Desde ese momento se dedica al Sand Art de manera profesional, perfeccionando su técnica de dibujo
  en la arena con rastrillos de jardinería, y eventualmente convirtiéndose en su principal fuente de
  inspiración y expresión.<br><br>
  Utiliza las palabras para expresar sus emociones y dejar un bonito recuerdo a los visitantes de la bahía.</p>
  <img src="static/images/calat_inicio.png" alt="Calat33 en la playa de la Concha." />
</article>
{% endblock %}