{% extends "layout.html" %}

{% block title %}
Inicio
{% endblock %}

{% block main %}
<img class='intro-image' src="static/images/dibujo_intro.jpg" alt="Sand Art con las letras de San Sebastián">
<div class="first-body">
  <div class="head-photo">
    <h1 style="margin-bottom: 0;">Land ART</h1>
    <div class="line-span"></div>
  </div>
  <div class="paragraph0">
    <p>El Land ART (o arte de tierra) es una corriente artística contemporánea que nace en los años 60 y 
      que se desarrolla a través de la utilización de la naturaleza como marco y elemento de expresión. 
      El Sand ART (arte de arena) es una rama concreta del mismo en la que se usa como materia prima la arena de la playa únicamente.</p>
  </div>
  <div class="paragraph0">
    <p>CALAT33 somos un grupo de jóvenes con ideas innovadoras y aptitudes artísticas  dispuestos a utilizarlas 
      en beneficio de la sociedad y de las empresas. Para ello, tenemos 4 líneas de actuación:</p>
  </div>
</div>

<div class="header-middlebody">
  <div class="simple-line"></div>
  <h1 style='font-size: 2.1rem;'>Nuestros Objetivos</h1>
</div>
<div class="body-middlebody">
  <div class="fix-size-container">
    <a href="">
      <div class="img-wrapper">
        <img src="static/images/sostenibilidad.jpg" alt="mano con caracolas">
      </div>
      <h4>Promover sostenibilidad</h4>
      <p>Creamos arte efímero que promueve y difunde los valores de las empresas sobre 
            sostenibilidad, cero impacto ambiental, y respeto al uso de los recursos naturales.</p>
    </a>
  </div>
  <div class="fix-size-container">
    <a href="/social">
      <div class="img-wrapper">
        <img src="static/images/colabs/whynot.jpg" alt="calat33 con la fundacion whynot en la playa junto a un dibujo">
      </div>
      <h4>Colaboraciones que importan</h4>
      <p>Realizamos colaboraciones con entidades sin ánimo de lucro que pretendan crear un 
            impacto en relación con los valores de justicia social, sostenibilidad y equidad.</p>
    </a>
  </div>
  <div class="fix-size-container">
    <a href="/social#talleres">
      <div class="img-wrapper">
        <img src="static/images/arena.jpg" alt="arena de la playa">
      </div>
      <h4>Talleres que marcan la diferencia</h4>
      <p>Impartimos talleres de concienciación y sensibilización medioambiental que integren diversos aspectos
            de la realidad natural más cercana (mareas, fases lunares, meteorología…)</p>
    </a>
  </div>
</div>

<div class="island">
  <img src="static/images/olas.png" alt="fondo de pantalla">
</div>
{% endblock %}
{% block second_main %}
<div class="second-body">
  <div class="container-blue-containers">
    <div class="blue-containers" data-aos='fade-up'>
      <h2 style='color:aqua'>Misión</h2>
      <p>Tenemos el propóstio de incentivar, inspirar, y manifestar el amor y el respeto de las empresas y organizaciones
          hacia el medio ambiente.<br><br>Mediante una diáfana gestion de los recursos empleados y una devota conservación hacia 
          la Pachamama.</p>
    </div>
    <div class="blue-containers" data-aos='fade-up'>
      <h2 style='color:aquamarine'>Visión</h2>
      <p>Soñamos con formar parte de un movimiento que inspire confianza hacia un futuro mejor, en donde organizaciones como la nuestra
          no sean la excepción, sino la regla.<br><br>Disfrutando el privilegio de pertenecer a un todo común, compartido y transparente.
        </p>
    </div>
    <div class="bubbles">
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
    </div>
  </div>
</div>






<!--
<h1 id="intro-title" class="slider">CALAT33<span class="period">.</span></h1>
<div class="padding_text">
  <p>German Cedano, Calat33 comenzó su afición por el dibujo desde niño gracias a que su
      madre
      era dibujante textil.
      Luego en la adolescencia estudió Dibujo y Escultura en el Museo de Arte de Lima para luego
      trabajar en la revista cultural Urbania encargándose de la realización del cómic llamado Nick.<br><br>
      Posteriormente viajó a Europa y ejerció el trabajo de artista callejero incursionando el mimo y la estatua humana
      hasta
      que en 2016 impulsado por
      la necesidad económica bajó a la arena de la playa de la Concha a experimentar con dibujos en grandes
      dimensiones.<br><br>
      Desde ese momento se dedica al Sand ART de manera profesional, perfeccionando su técnica de dibujo
      en la arena con rastrillos de jardinería, y eventualmente convirtiéndose en su principal fuente de
      inspiración y expresión.<br><br>
      Utiliza las palabras para expresar sus emociones y dejar un bonito recuerdo a los visitantes de la bahía.</p>
</div>
-->

{% endblock %}