{% extends "layout.html" %}

{% block title %}
Inicio
{% endblock %}

{% block main %}
<img class='intro-image' src="static/images/dibujo_intro.jpg" alt="Sand Art con las letras de San Sebastián">
<div class="second-body">
  <div class="head-photo">
    <h1 style="margin-bottom: 0;">Land Art</h1>
    <div class="line-span"></div>
  </div>
  <div class="paragraph0">
    <p>Es una corriente artística contemporánea que nace en los años 60 y 
      que se desarrolla a través de la utilización de la naturaleza como marco y elemento de expresión. 
      El Sand Art es una rama concreta del mismo en la que se usa como materia prima la arena de la playa únicamente.</p>
  </div>
  <div class="paragraph1">
    <p>CALAT33 somos un grupo de jóvenes con ideas innovadoras y aptitudes artísticas  dispuestos a utilizarlas 
      en beneficio de la sociedad y de las empresas. Para ello, tenemos 4 líneas de actuación:</p>
    <ol>
      <li><p>Creamos arte efímero que promueve y difunde los valores de las empresas sobre sostenibilidad, cero impacto
        ambiental, y respeto al uso de los recursos naturales</p>
      </li>
      <li><p>
        Realizamos colaboraciones con entidades sin ánimo de lucro que pretendan crear un impacto en relación con los
        valores de justicia social, sostenibilidad y equidad.
      </li>
      <li><p>
        Impartimos talleres de concienciación y sensibilización medioambiental que integren diversos aspectos de la
        realidad natural más cercana (mareas, fases lunares, meteorología…)</p>
      </li>
      <li><p>
        Redistribución de los activos mediante un sistema de solidaridad con proyectos e instituciones de carácter
        social y medioambiental</p>
      </li>
    </ol>
  </div>







  <article class="intro slider">
    <h1 id="intro-title" class="slider">CALAT33<span class="period">.</span></h1>
    <div class="padding_text">
      <p>German Cedano, Calat33 comenzó su afición por el dibujo desde niño gracias a que su
      madre
      era dibujante textil.
      Luego en la adolescencia estudió Dibujo y Escultura en el Museo de Arte de Lima para luego
      trabajar en la revista cultural Urbania encargándose de la realización del cómic llamado Nick.<br><br>
      Posteriormente viajó a Europa y ejerció el trabajo de artista callejero incursionando el mimo y la estatua humana
      hasta
      que en 2016 impulsado por
      la necesidad económica bajó a la arena de la playa de la Concha a experimentar con dibujos en grandes
      dimensiones.<br><br>
      Desde ese momento se dedica al Sand Art de manera profesional, perfeccionando su técnica de dibujo
      en la arena con rastrillos de jardinería, y eventualmente convirtiéndose en su principal fuente de
      inspiración y expresión.<br><br>
      Utiliza las palabras para expresar sus emociones y dejar un bonito recuerdo a los visitantes de la bahía.</p>
    </div>
    <!--img src="static/images/calat_inicio.png" alt="Calat33 en la playa de la Concha." /-->
  </article>
</div>






{% endblock %}