<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>


    <!-- JS and Stylesheet -->
    <script type="text/javascript" src="static/js/calart.js"></script>
    <link href="static/css/styles.css" rel="stylesheet">

    <!-- Google font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Barlow:wght@400;500;700;900&display=swap"
        rel="stylesheet" />

    <title>Calart: {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="static/images/favicon_calart.png" />
</head>
{% if session.theme %}
<body class="{{session.theme}} {% block gradient %}{% endblock %}">
    {% else %}
    <body class="{% block classbody %}{% endblock %}">
        {% endif %}
        {% if request.MOBILE %}
        <nav class="navbar-logo">
            <a class="logo" href="/">
                <img src="static/images/calat.png" alt="" style="filter:drop-shadow(#111 -2px 2px 2px)">
            </a>
            <img src="static/images/favicon_calart.png" class="button-nav" alt="display navbar" />
        </nav>
        <div class="sidebar">
            <ul class="sidebar-navigation">
                <li><a href="/"><span>Inicio</span><img src="https://icongr.am/material/home.svg?size=25&color=333333"
                            alt="home icon" /></a></li>
                <li id='disabled'><a><span>Productos</span><img
                            src="https://icongr.am/material/book-open-variant.svg?size=25&color=333333"></a>
                </li>
                <!--<li><a href="#"><span>Servicios</span><img
                            src="https://icongr.am/material/earth-box.svg?size=25&color=333333"></a></li>-->
                <li><a href="/social"><span>Social-Medio Ambiente</span><img
                            src="https://icongr.am/material/cards-heart.svg?size=25&color=333333"></a></li>
                <li><a href="/contact"><span>Contacto</span><img
                            src="https://icongr.am/material/email.svg?size=25&color=333333"></a></li>
            </ul>
            <ul class="sidebar-log-contact">
                {% if session.username %}
                <li><a href="/profile"><span>{{ session.username|upper }}</span></a></li>
                {% else %}
                <li><a href="/login"><span>Iniciar Sesión</span><img
                            src="https://icongr.am/material/arrow-left-bold-box.svg?size=25&color=333333"></a>
                </li>
                {% endif %}
                <li id="social-buttons"><a href="https://www.instagram.com/calat33/" class="instagram"
                        target="_blank"><img src="static/images/instagram.png" width="32"></a><a
                        href="https://www.facebook.com/CALAT-33-169199418110806" class="facebook" target="_blank"><img
                            src="static/images/facebook.png" width="38"></a></li>
            </ul>
            <div class="language"><a href="/">Español</a><a href="/">English</a></div>
        </div>
        {% else %}
        <nav class="navbar-logo">
            <a class="logo" href="/">
                <img src="static/images/calat.png" alt="logo calat">
            </a>
            <ul class="desktop-nav">
                <li><a href="/"><span>Inicio</span><img src="https://icongr.am/material/home.svg?size=25&color=333333"
                            alt="home icon" /></a></li>
                <li id='disabled'><a><span>Productos</span><img
                            src="https://icongr.am/material/book-open-variant.svg?size=25&color=333333"></a>
                </li>
                <!--<li><a href="/#"><span>Servicios</span><img
                            src="https://icongr.am/material/earth-box.svg?size=25&color=333333"></a></li>-->
                <li><a href="/social"><span>Social-Medio Ambiente</span><img
                            src="https://icongr.am/material/cards-heart.svg?size=25&color=333333"></a></li>
                <li><a href="/contact"><span>Contacto</span><img
                            src="https://icongr.am/material/email.svg?size=25&color=333333"></a></li>
                {% if session.username %}
                <li><a href="/profile"><span>{{ session.username|upper }}</span></a></li>
                {% else %}
                <li><a href="/login"><span>Iniciar Sesión</span><img
                            src="https://icongr.am/material/arrow-left-bold-box.svg?size=25&color=333333"></a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        <div class="content">{% block main %}{% endblock %}</div>
        {% block second_main %}{% endblock %}
        <!--
        <footer class="{% block classfooter %}{% endblock %}">
            <div class="colabs-footer">
                <img src="static/images/footer/Anadolu.png" width="65" alt="">
                <img src="static/images/footer/Crayons-Copains.png" width="65" alt="">
                <img src="static/images/footer/Franks-chop.png" width="65" alt="">
                <img src="static/images/footer/mary-ward-logo1.gif" width="65" alt="">
                <img src="static/images/footer/sicos2.png" width="65" alt="">
                <img src="static/images/footer/sisters.png" width="65" alt="">
            </div>
        </footer>
    -->
    </body>
</html>