{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<div class="intro content">
  <h1 class="center-text">Iniciar Sesión<span class="period">.</span></h1>
  <div class="login-container">
    <div class="login">
      <input name="username" class="text-login" placeholder="Escriba su correo" type="text" required>
      <input name="password" class="password-login" placeholder="Escriba su contraseña" required autocomplete="off"
        type="password">
    </div>
  </div>
  <form action="/login" method="post" class="button-login-container">
    <input class="login-button" type="submit" value="Iniciar Sesión">
  </form>
</div>
{% endblock %}