{% extends "layout.html" %}

{% block title %}
Iniciar Sesión
{% endblock %}

{% block main %}
<form class="intro content" method="post" action="/login">
  <h1 class="center-text">Iniciar Sesión<span class="period">.</span></h1>
  <div class="login-container">
    <div class="login">
      <input name="email/username" class="text-login" placeholder="Correo o nombre de usuario" type="text"
        autocomplete="off" oninvalid="this.setCustomValidity('Por favor escriba su correo.')"
        oninput="this.setCustomValidity('')" required>
      <input name="password" class="password-login" placeholder="Escriba su contraseña" autocomplete="off"
        type="password" oninvalid="this.setCustomValidity('Por favor escriba su contraseña')"
        oninput="this.setCustomValidity('')" required>
    </div>
  </div>
  <div class="button-login-container">
    <button class="button" type="submit">Iniciar Sesión</button>
    <button type="button" class="button register"><a href="/register">Registrarse</a></button>
  </div>
</form>

{% endblock %}