{% extends "layout.html" %}
{% block main %}

<h1>Choose your favourite palette<span class="period">.</span></h1>
<div class="card-container">
    <div class="card">
        <div class="color-palette"></div>
        <div class="color-palette"></div>
        <div class="color-palette"></div>
    </div>
    <div class="card">
        <div class="color-palette"></div>
        <div class="color-palette"></div>
        <div class="color-palette"></div>
    </div>
    <div class="card">
        <div class="color-palette"></div>
        <div class="color-palette"></div>
        <div class="color-palette"></div>
    </div>
</div>

<button><a href="/login">Salir de la sesión.</a></button>
{% endblock %}