{% extends "layout.html" %}
{% block main %}

<h3>Choose your favourite palette<span class="period">.</span></h3>
<div class="palette-container">
    <div class="label-palette">
        <button type="button" id="default" class="btn btn-warning btn-lg btn-block">Tema Arena</button>
    </div>
    <div class="palette">
        <div class="color-palette text1"></div>
        <div class="color-palette first1"></div>
        <div class="color-palette second1"></div>
        <div class="color-palette third1"></div>
    </div>
    <div class="label-palette">
        <button type="button" id="blue" class="btn btn-info btn-lg btn-block">Tema Agua</button>
    </div>
    <div class="palette">
        <div class="color-palette text2"></div>
        <div class="color-palette first2"></div>
        <div class="color-palette second2"></div>
        <div class="color-palette third2"></div>
    </div>
    <div class="label-palette">
        <button type="button" id="dark" class="btn btn-secondary btn-lg btn-block">Tema Oscuro</button>
    </div>
    <div class="palette">
        <div class="color-palette text3"></div>
        <div class="color-palette first3"></div>
        <div class="color-palette second3"></div>
        <div class="color-palette third3"></div>
    </div>
</div>

<button><a href="/login">Salir de la sesión.</a></button>
{% endblock %}