{% extends "layout.html" %}
{% block main %}

<h3>Choose your favourite palette<span class="period">.</span></h3>
<div class="palette-container">
    <div class="label-palette">
        <span>Tema Arena</span>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="palette">
        <div class="color-palette text1"></div>
        <div class="color-palette first1"></div>
        <div class="color-palette second1"></div>
        <div class="color-palette third1"></div>
    </div>
    <div class="label-palette">
        <span>Tema Agua</span>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="palette">
        <div class="color-palette text2"></div>
        <div class="color-palette first2"></div>
        <div class="color-palette second2"></div>
        <div class="color-palette third2"></div>
    </div>
    <div class="label-palette">
        <span>Tema Oscuro</span>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="palette">
        <div class="color-palette text3"></div>
        <div class="color-palette first3"></div>
        <div class="color-palette second3"></div>
        <div class="color-palette third3"></div>
    </div>
</div>

<button><a href="/login">Salir de la sesión.</a></button>
{% endblock %}