<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Bootstrap library -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        <!-- JS and Stylesheet -->
        <script type="text/javascript" src="calart_1.0.js"></script>
        <link href="styles.css" rel="stylesheet">

        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Barlow:wght@400;500;700;900&display=swap" rel="stylesheet"/>

        <title>Social - Medio Ambiente</title>
        <link rel="icon" type="image/png" href="./favicon_calart.png"/>
    </head>
    <body>
    <nav class="navbar-logo">
      <a class="logo" href="./index.html">
        <img src="./logo_calart.png" alt="" />
      </a>
      <img src="favicon_calart.png" width="38" class="button-nav" alt="display navbar"/>
    </nav>
    <div class="sidebar">
      <ul class="sidebar-navigation">
        <li><a href="./index.html"><span>Inicio</span><img src="https://icongr.am/material/home.svg?size=25&color=333333" alt="home icon" /></a></li>
        <li><a href="#"><span>Productos</span><img src="https://icongr.am/material/book-open-variant.svg?size=25&color=333333" alt="" /></a></li>
        <li><a href="#"><span>Servicios</span><img src="https://icongr.am/material/earth-box.svg?size=25&color=333333" alt="" /></a></li>
        <li><a href="./social.html"><span>Social-Medio Ambiente</span><img src="https://icongr.am/material/cards-heart.svg?size=25&color=333333" alt="" /></a></li>
      </ul>
      <ul class="sidebar-log-contact">
        <li><a href="./login.html" ><span>Log In</span><img src="https://icongr.am/material/arrow-left-bold-box.svg?size=25&color=333333" alt="" /></a></li>
        <li id="social-buttons"><a href="https://www.instagram.com/calat33/" class="instagram" target="_blank"><img src="./instagram.png" width="32" alt="" /></a><a href="https://www.facebook.com/CALAT-33-169199418110806" class="facebook" target="_blank"><img src="./facebook.png" width="38"  alt=""/></a></li>
      </ul>
      <div class="language"><a href="#">Español</a><a href="#">English</a></div>
    </div>
    <div class="content">
      <!-- Intro -->
      <article class="intro">
        <h1>Social<br>Medio Ambiente<span class="period">.</span></h1>
        <p>Por cada producto, trabajo y taller realizados desde Calart destinamos un 4% a instituciones
        sociales y medioambientales. De esta manera queremos incidir activamente en el respaldo y promoción de
        proyectos sostenibles y con un impacto medioambiental directo. <u>¿Quieres llevar a cabo un proyecto medioambiental?</u><br>
        <b>¡Contáctanos y mándanos tu proyecto!</b> Si lo puedes soñar, puede volverse realidad.<br><br>
        Al mismo tiempo las empresas privadas para las que realizamos trabajos pasan por un filtro
        muy estricto sobre el los valores que poseen respecto al impacto sobre el medioambiente.</p>
      </article>
      <spam class="banner"></spam>
      <h2>Talleres Sand Art</h2>
      <ul>
        <li><b>Duración:</b> 3 horas</li>
        <li><b>Horario: 9:00-12:00 </b>ver en el calendario las fechas disponibles cada mes (depende de las mareas).</li>
        <li><b>Número de participantes: </b>entre 5 y 20</li>
        <li><b>Material: </b>incluido.</li>
        <li><b>Precio: </b>gratuito (teniendo en cuenta que lo presentamos a subvenciones y las conceden), SINO VER
        ABAJO EL PRESUPUESTO: 33€ por niño</li>
        <li><b>Edad: </b>de 5 años hasta 10. También se realizan talleres para niños mayores, adolescentes o adultos,
        siempre que se cree un grupo de más de 6. </li>
        <li><b>Objetivo:</b><br>
          <ul type="line"><li>Sensibilizar a los niños y niñas sobre el cuidado del medioambiente y especialmente de los mares.
          <li>Incentivar y ejercitar su agudeza creativa.</li>
          <li>Fomentar el trabajo en equipo.</li></ul>
        </li>
        <li><b>¿Quieres regalar un taller Sand Art? </b>Ponte en contacto en nuestra web</li>
      </ul>
      <h3>Descripción detallada del proyecto.</h3>
      <p>PRESUPUESTO<br>Material - Coste:</p>
      <ul>
        <li>20 rastrillos: 250 €</li>
        <li>1 profesor: 50 €/h =150 €</li>
        <li>2 monitores: 30 €/h = 180 €</li>
        <li>Movilidad:
          <ul type="line">
            <li>Transporte de niños: 1,85 € x 2 viajes x 20 niños: 74 €.</li>
            <li>Transporte del equipo: 1,85 € x 2 viajes x 3 adultos: 11,10 €.</li>
          </ul>
        </li>
      </ul>
      <p>TOTAL: 665,10 €<br>CADA NIÑO: 33,25 €</p>
      <img src="./tortuga.png" alt="Calat33 dibujando una tortuga.">
    </div>
    <footer>
      <div class="colabs">
        <img src="./logos_footer/Anadolu.png" width="65"  alt="">
        <img src="./logos_footer/Crayons-Copains.png" width="65"  alt="">
        <img src="./logos_footer/Franks-chop.png" width="65"  alt="">
        <img src="./logos_footer/mary-ward-logo1.gif" width="65"  alt="">
        <img src="./logos_footer/sicos2.png" width="65"  alt="">
        <img src="./logos_footer/sisters.png" width="65"  alt="">
      </div>
    </footer>
    </body>
</html>
